{% extends "base.html" %}
{% block content_block %}
    <div class="center" style="text-align:center">
        <form action="{% url 'user_profile' user.id %}" method="POST">
            {% csrf_token %}
            <br><br><br><br>
            <h1>Edit User Profile</h1>
                {{form.as_p}}

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </div>
                </div>
        </form>
    </div>
</section>
    <h2 style="text-align:center">Reviews By {{user}}</h2>
         <section class="p-5">
       <div class="container">
           <div class="row text-center g-4 ">
               {% for review in reviews %}
               <div class="col-md">
                   <div class="card bg-dark text-light">
                       <div class="card-body text-center">
                           <p class="card-text">
                               {{review.visit_date}}<br>
                               {{review.user.username}} Rated {{review.stars}} stars <br>
                               {{review.review_title}}<br>
                               "{{review.review_text}}"<br>
                               {% if request.user.username == review.user.username %}
                               <button onclick="location.href = '{% url 'delete_review' review.id %}'" class="btn btn-danger" value="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                   Delete
                               </button>
                               <button onclick="location.href = '{% url 'edit_review' review.id %}'" class="btn btn-primary" value="Delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                   Edit
                               </button>
                               {% endif %}
                           </p>
                       </div>
                   </div>
               </div>
               {% endfor %}
           </div>
       </div>
   </section>
{% endblock %}